/* for {revealjs} */

/* slide setting */
.reveal .progress {
  height: 15px;
  margin-bottom: 5px;
}

/* slide font setting */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

}

.reveal .slide {
    text-align:left;
    overflow-y: auto;
}

/* slide-title settint */

.reveal section.slide>h1 {
    color: #0f3a77;
    font-weight: bold;
}

.level1>h1 {
  margin-top: 25%;
}
span.header-section-number {
  margin-right: 0.5em;
}
.reveal li {
  margin-top:0.2em;
}
.reveal ul ul li {
  font-size:0.85em;
  margin-top:0;
}

/* image setting */
.reveal img {
  max-height: 500px;
}

.reveal .slide img {
  border: 0;
}

/* table setting */
.reveal table{
  border-style: solid;
}
.reveal table th {
  border-style: solid;
}
.reveal table td {
  border-style: solid;
}

/* column setting */
.reveal .slides section .no-column {
  width: 96%;
}
.reveal .slides section .column1 {
  float: left;
  width: 48%;
}

.reveal .slides section .column2 {
  float: right;
  width: 48%;
}

/* for htmlwidgets to iframe */
.reveal .slides iframe {
	height: 450px;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

/* slide-header setting */
#slide-header {
  text-align: right;
  background-color: #fff;
  opacity: 0.7;
}

#slide-header img {
  max-height: 50px;
  margin: 3px;
  vertical-align: middle;
  opacity: 1.0;
}

#slide-header p {
  font-size: 18px;
  padding: 5px 20px 5px;
}

/* add */
.reveal pre code {
  font-size: 2em;
  line-height: 0.85;
}

